mixin typeOfMovies(type)
    li.list-item--genre.btn.btn-outline-light.d-inline-block.w-40
        a(href="#")= type

mixin listOfMovies(image, name, rating, quality, year)
    .col-6.col-sm-4.col-md-3.col-lg-2 
        .card-movies__item
            .movies__item--picture
                a(href="#")
                    img(src= image, alt= name) 
            .movies__item--detail
                .detail-infor
                    span.detail-infor__item
                        i.fas.fa-star
                        span= rating
                    span.detail-infor__item
                        strong= quality
                    span.detail-infor__item= year
                h3.detail-name= name
                .detail-btn
                    a.btn.btn-secondary.btn-block(href="#")
                        i.fas.fa-play
                        span #{trending_button}

