footer
    .container
        .row.footer-top
            .col-3.footer-top__item
                a(href="#") #{footer.top_line1}
            .col-3.footer-top__item
                a(href="#") #{footer.top_line2}
            .col-3.footer-top__item
                a(href="#") #{footer.top_line3}
            .col-3.footer-top__item
                a(href="#") #{footer.top_line4}
        .row.footer-middle
            .col-12
                p #{footer.mid_line1}
        .row.footer-middle
            .col-12 
                p #{footer.mid_line2}