header.header
    .container
        .row
            .col-2.col-sm-2.col-md-2.col-lg-1.header-logo
                a(href="#", title="Sflix") 
                    img(src = `${logo}`, alt="logo-sflix")
            label.col-2.col-sm-2.col-md-2.col-lg-1.header-browser.checkbtn(for="check")
                input#check(type="checkbox")
                .sidebar__menu
                    ul.sidebar__menu--list
                        li.list-item
                            .list-item__icon
                                i.fas.fa-columns
                            a(href="../homePage.html") #{header_title_home}
                        li.list-item
                            .list-item__icon
                                i.fas.fa-play-circle
                            a(href="../moviesPage.html") #{header_title_movies}
                        li.list-item
                            .list-item__icon
                                i.fas.fa-video
                            a(href="#") #{header_title_tv}
                        li.list-item
                            .list-item__icon
                                i.fas.fa-fire
                            a(href="#") #{header_title_imdb}
                        li.list-item
                            .list-item__icon
                                i.fab.fa-android
                            a(href="#") #{header_title_app}
                        li.list-item__space
                            h5 #{genre}
                            .sidebar__genre
                                ul.sidebar__genre--list
                                    each type in typeMovies
                                        +typeOfMovies(type)
                                    else
                                        strong.error #{no_data}

                .header-browser__btn
                    i.fas.fa-bars
                    p #{browser}
            .col-6.col-sm-6.col-md-6.col-lg-8.header-search
                .header-search__box
                    i.fas.fa-search 
                    input(type="text", placeholder="Enter keywords...")
            .col-2.col-sm-2.col-md-2.col-lg-2.header-author
                .header-author__box
                    i.far.fa-user
                    p #{login}