section.trending
    .container
        .row.trending-type
            .col-3.col-sm-3.col-md-3.col-lg-2.trending-type__title
                h2 #{trending.title}
            .col-3.col-sm-3.col-md-3.col-lg-2.trending-type__movies
                i.fas.fa-play-circle
                h6 #{trending.typeMovies}
            .col-6.col-sm-6.col-md-6.col-lg-8.trending-type__tv
                i.fas.fa-list-ul
                h6 #{trending.typeTv}
        .row.trending-movies
            each movie in listMovies
                .col-6.col-sm-4.col-md-3.col-lg-2 
                    .trending-movies__item
                        .movies__item--picture
                            a(href="#")
                                img(src= movie.image, alt= movie.name) 
                        .movies__item--detail
                            .detail-infor
                                span.detail-infor__item
                                    i.fas.fa-star
                                    span= movie.rating
                                span.detail-infor__item
                                    strong= movie.quality
                                span.detail-infor__item= movie.year
                            h3.detail-name= movie.name
                            .detail-btn
                                a.btn.btn-secondary.btn-block(href="#")
                                    i.fas.fa-play
                                    span #{trending.button}
    